<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>436871348176-cakfb8mkevpv2r1guepacoo1m5op5afh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.436871348176-cakfb8mkevpv2r1guepacoo1m5op5afh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>436871348176-3lvkqig4uca0ufgf9bjm908ohopdhk8f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyClqAamx9Qrto67FeB-fFXnn73BiTgDfT8</string>
	<key>GCM_SENDER_ID</key>
	<string>436871348176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brandcraft.app</string>
	<key>PROJECT_ID</key>
	<string>socailflow</string>
	<key>STORAGE_BUCKET</key>
	<string>socailflow.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:436871348176:ios:15bbd58d8597dd8b2d43d5</string>
</dict>
</plist>